<div style="display: flex; flex-direction: column;">
  <app-ejemplo1></app-ejemplo1>
  <app-ejemplo2></app-ejemplo2>
  <app-ejemplo3></app-ejemplo3>
  <app-ejemplo4></app-ejemplo4>
  <app-ejemplo5></app-ejemplo5>
  <app-ejemplo6></app-ejemplo6>
  <app-ejemplo7></app-ejemplo7>
  <app-ejemplo8></app-ejemplo8>
  <app-ejemplo9></app-ejemplo9>
  <app-ejemplo10></app-ejemplo10>
  <app-ejemplo11></app-ejemplo11>
  <app-ejemplo12></app-ejemplo12>
  <app-ejemplo13></app-ejemplo13>
  <app-ejemplo15> </app-ejemplo15>
  <app-ejemplo16></app-ejemplo16>
  <app-ejemplo17></app-ejemplo17>
  <app-ejemplo18></app-ejemplo18>
</div>